.payment-form-img {
    max-width: 150px;
}

.keep-payment-form-bottom {
    clear: both;
    float: left;
    padding: 10px;
    width: 155px;
}

#payment-form-container {
    background-color: #FFFFFF;
    padding: 12px;
    width: 568px;
}

#payment-content {
    background-color: #F2F2F2;
    border: #999 1px solid;
    border-radius: 5px;
    font-family: "Arial",sans-serif;
    padding: 42px;
}

.date-input::-webkit-input-placeholder {
  font-style: italic;
}
.date-input:-moz-placeholder {
  font-style: italic;
}

.right { 
    float: right;
}

.left {
    float: left;
}

.CC-label {
    width: 76%;
    margin-right: 10px;
    float: left;
}

.CVC-label {
    width: 20.5%;
    text-align: left;
    float: right;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.spaceX {
    height: 24px;
}

.space05X {
    height: 24px;
}

.space025X {
    height: 6px;
}

.space175X {
    height: 42px;
}

.card-input {
    border: #999999 1px solid;
    border-radius: 5px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    font-size: 18px;
    height: 36px;    
    padding: 0px 5px 0px 5px;
}

#card-holder-name {
    width: 97.5%;
}

#card-number-container {
    float: left;
    margin-right: 12px;
    width: 76%;
}

#card-number-input {
    width: 96%;
}

#card-CVC-container {
    float: right;
    width: 21%;
}

.card-hint, .card-error {
    height: 30px;
}

.card-hint {
    color: #474747;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 5px 0px 5px;    
    vertical-align: middle;
    width: 100%;
}

.card-error {
    display: none;
}

.text-label {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.card-error {
    border-radius: 5px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 22.5px;
    line-height: 22.5px;
    margin-top: 3.75px;
    margin-bottom: 4px;
    text-indent: 5px;
    width: 100%;
}

#card-name-error-msg {
    padding-right: 12px;
    width: 97.5%;
}

#card-verification-code {
    float: right;
    width: 87%;
}

.help-security-code {
    background-color: #191919;
    border: 1px solid #000000;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #FFF;
    float: right;
    font-size: 14px;
    height: 14px;
    margin-right: -105px;
    margin-top: -5px;
    padding: -2px;
    text-align: center;
    width: 14px;
}

#CVC-hint {
    background-color: #212121;
    border: 1px solid #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFF;
    display: none;
    float: right;
    font-size: 14px;
    height: 60px;
    margin-right: -20px;
    margin-top: -70px;
    opacity: 0.9;
    padding: -2px;
    text-align: center;
    width: 140px;
}

#card-number-error-container, #card-CVC-error-container {
    display: none;
}

.american {
    background: #FFFFFF url('../img/components/paymentform/americanexpress.png');
    
}

.maestro {
    background: #FFFFFF url('../img/components/paymentform/maestro.png');
}

.mastercard {
    background: #FFFFFF url('../img/components/paymentform/mastercard.png');
}

.visa {
    background: #FFFFFF url('../img/components/paymentform/visa.png');
}

.american,.mastercard,.maestro,.visa {
    background-position: 98% 50%; 
    background-repeat: no-repeat;
    background-size: 40px 25px;
}

.clearing {
    clear: both;
}

#card-expiration-container {
    padding-bottom: 30px;
}

.date-input {
    text-align: center;
    width: 35px;
}

.date-drop-down {
    margin-right: 12px;
    width: 30%;
}

.submit-button {
    background-color: white;
    border: #999999 1px solid;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    padding: 5px;
    text-align:center;
    width: 100%;
    z-index: 1;
}
.submit-button:hover:enabled {
    background-color: rgba(0,0,0,0.9);
}
.last-space {
    height: 5px;
}

.context-name {
    color: #474747;
    display: none;
    font-size: 10px;
}

.back-submit {
    background-color: rgba(72,72,72,0.0);
    border-radius: 5px;
    width: 50%;
}

.error-name {
    background-color:red;
    border:#999999 1px solid;
    border-radius:5px;
    color:white;
    display: none;
    font-size:10px;
    font-weight: bold;
    padding:0px;
    text-align:center;    
}

.right-margin {
    width: 100%;
}
.ok {
    border: green 3px solid;
}

.ui-datepicker-calendar {
    display: none;
}​
