.input-container {
    width: 400px;
}

#full-name, .special-full-name {
    border: #999999 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    height: 36px;    
    padding: 0px 5px 0px 5px;
    width: 100%; 
}

#input-hint, #error-container {
    font-size: 18px;
    height: 30px;
}

#input-hint {
    color: #474747;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
}

#error-container {
    display: none;
    font-size: 18px;
    height: 30px;
}

#error-message {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 22.5px;
    line-height: 22.5px;
    margin-top: 3.75px;
    text-indent: 5px;
    vertical-align: middle;
    width: 100%;
}

.special-full-name {
    width: 85%; 
}

.special-full-name:disabled {
    background-color: #EAEAEA;
}

.dynamic-div {
    margin-top: 30px;
}

.button {
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 36px;
    padding: 0px;
    width: 36px; 
}

.plus-btt, .refresh-btt {
    background-color: #007487;
    border: #016171 1px solid; 
}

.less-btt{
    background-color: #AEADAD;
    border: #AEADAD 1px solid;
}

.button:focus {
    border: none;
    outline: none;
}
