.table-option-pannel {
    margin: 10px;
}

#table-container {
    margin: 10px;
}

.keep-table-container {
    padding: 18px;
}

table {
    border-spacing: 0px;
    font-size: 0.875em;
}

thead td{
    font-weight: bold;
}

table.left-table tbody tr:first-child td, table.top-table tbody tr td:first-child {
    font-weight: bold;
}


table.left-table thead, table.left-table tbody, table.left-table td {
    float: left;
}

td {
    border: 1px solid #E0E0E0;
    padding: 19px;
}

table.left-table thead td{
    border-right: none;
}

table.left-table tbody td{
    border-left: none;
}

table.top-table thead td{
    border-bottom: none;
}

table.top-table tbody td{
    border-top: none;
}

table.left-table thead tr:last-child td, table.left-table tbody tr:last-child td {
    border-bottom: 1px solid #E0E0E0;
}

table.top-table thead tr td:last-child, table.top-table tbody tr td:last-child {
    border-right: 1px solid #E0E0E0;
}

table.left-table thead tr:first-child td:first-child, table.top-table thead tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

table.left-table thead tr:last-child td:first-child, table.top-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table.left-table tbody tr:first-child td:last-child, table.top-table thead tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

table.left-table tbody tr:last-child td:last-child, table.top-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table.left-table thead td, table.left-table tbody td {
    border-bottom: none;
}

table.top-table thead td, table.top-table tbody td {
    border-right: none;
}

.odd-line {
    background-color: #F2F2F2;
}

.even-line {
    background-color: #FFFFFF;
}