.input-size {
    width: 400px;
}

.input-box,.special-input-box {
    border: #999999 1px solid;
    border-radius: 3px;
    font-size: 18px;
    height: 36px;    
    padding: 0px 5px 0px 5px;
    width: 97.5%; 
}

.special-input-box {
    width: 85%; 
}

.special-input-box:disabled {
    background-color: #EAEAEA;
}

.special-input-btt,.special-input-btt-less {
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 36px;
    padding: 0px;
    width: 36px; 
}

.special-input-btt {
    background-color: #007487;
    border: #016171 1px solid; 
}

.special-input-btt-less {
    background-color: #AEADAD;
    border: #AEADAD 1px solid;
}

.special-input-btt:focus,.special-input-btt-less:focus {
    border: none;
    outline: none;
}

.info-space, .checkSpace {
    font-size: 18px;
    height: 30px;
}

.info-space {
    color: #474747;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
}
.check-space {
    display: none;
    font-size: 18px;
    height: 30px;
}

.check-box {
    background-color: white;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 22.5px;
    line-height: 22.5px;
    margin-top: 3.75px;
    text-indent: 5px;
    vertical-align: middle;
    width: 100%;
}