header {
    background: #FFFFFF;
    box-shadow: 0 2px 50px #474747;
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

body {
    background: #EBEBEB;
}

#branding-logo {
    float: left;
}

.telefonica-logo {
    max-height: 80px;
}

#user-links {
    float: right;
}

#main-container {
    overflow: auto;
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#left-container {
    background: #024257;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin-top: 80px;
    min-height: 100%;
    min-width: 210px;
    max-width: 60%;
    position: absolute;
    width: 20%;
    z-index: 50;
}

#components-nav-container {
    color: #00C6D7;
    cursor: default;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

#components-nav-container ul {
    list-style-type: none;
    padding: 0;
}

#components-nav-container h1 {
    color: #FFFFFF;
    font-weight: normal;
}

#components-nav-container h2 {
    font-weight: normal;
}

#components-nav-container li {
    margin-bottom: 5px;
}

#components-nav-container li a {
    color: #00C6D7;
    font-size: 1.1em;
    text-decoration: none;
}

#forms-nav {

}

#data-nav {

}

#layouts-nav {

}

.comp-tab {
    
}

.active-comp {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF !important;
}

.hidden {
    display: none;
}

.common-right-section {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
    height: auto;
    margin-top: 80px;
    min-height: 100%;
    overflow: auto;
    right: 0;
    top: 0;
    width: 80%;
}

#informative-text {
    color: #333333;
    font-size: 1.2em;
    padding: 60px 100px 40px 100px;
    text-align: justify;
}

#informative-text a {
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

#brand-nav {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style-type: none;
    margin-bottom: 40px;
    padding-top: 40px;
    width: 100%;
}

#brand-nav li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
    width: auto;
}

#brand-nav li a {
    color: #002A32;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}

.active-brand {
    border-bottom: 3px solid #00C6D7;
    font-weight: bold;
}

#components-container {
    border-right: 2px solid #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    overflow: auto;
    min-height: 100%;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 50%;
}

.static-container-no-table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    float: right;
    padding-bottom: 40px;
    padding-left: 40px;
    position: fixed;
    right: 0;
    width: 40%; /*50% of the 80% that is the right container from the body*/
}

.static-container-table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    min-height: 100%;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 100%;
}

.container-hint {
    color: #595959;
    cursor: default;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-style: italic;
    max-width: 80%;
    opacity: 0.9;
    text-align: justify;
}

#testing-container {
    height: 300px;
    overflow: auto;
}

#table-building-container {
    float: left;
    height: 80%;
    width: 100%;
}

.selection-container-no-table {
    height: 300px;
    overflow: auto;
    position: relative;
}

.selection-container-table {
    clear: both;
    height: 300px;
    float: left;
    width: 50%;
}

.common-title, .common-title-inline {
    color: #333333;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

.common-title-inline {
    display: inline-block;
}

.trash {
    background-repeat: no-repeat; 
    background-size: contain;
    display: inline-block;
    margin-left: 1%;
    min-height: 11px;
    min-width: 9px;
}

.on {
    background: url("../img/delete-on.png");
}

.off {
    background: url("../img/delete-off.png"); 
}

.quit-icon {
    background: url("../img/quit.png");
    background-repeat: no-repeat; 
    background-size: contain;
    display: inline-block;
    min-height: 12px;
    min-width: 12px;
    position: absolute;
}

.input-container .quit-icon {
    margin-left: 394px;
    margin-top: -6px;
}

.button-back .quit-icon {
    margin-left: 294px;
    margin-top: -6px;
}

.keep-table-container .quit-icon {
    margin-left: 150px;
    margin-top: -5px;
}

.trash:hover, .quit-icon:hover {
    cursor: hand;
    cursor: pointer;
}

.clear-all {
    color: #777777;
    cursor: hand;
    cursor: pointer;
    border-left: solid 1px #777777;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    padding-left: 2%;
    text-decoration: underline;
}

.clear-all:hover {
    color: #00C6D7;
}

footer {
    background: #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    bottom: 0;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.ui-dialog { 
    background: #F2F2F2;
    border: 1px solid #CFCECE;
    border-radius: 5px;
    float: left;
    font-family: Arial,sans-serif;
    padding: 0.5em; 
    position: fixed;
    outline: none; 
    z-index: 90; 
}

.ui-dialog a {
    color: black;
    padding: 10px;
    display: block;
    outline: none; 
    text-decoration: none;
}

.ui-dialog ul {
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;  
}

.ui-dialog li {
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    list-style-type: none; 
    margin-right: 5px;
    outline: none; 
 }

.ui-dialog-titlebar { 
    display: none; 
}

.ui-tabs-nav {
    margin: 0px;
    padding: 0px;
    text-align: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.ui-dialog-content .ui-widget-content {
    background-repeat:repeat-y;
}

#download_content {
    clear: both;
}

.btt-close-download {
    background-color:#dbdbdb;
    border:4px solid #ababab;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    color:#fa0a0a;
    display:inline-block;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    font-style:normal;
    float: right;
    height:25px;
    margin-right: -2em;
    margin-top:-2em;
    outline: none;
    padding: 2px 0px 0px 5px;
    text-align:left;
    text-decoration:none;
    text-indent:0px;
    width:25px;
}

.btt-close-download:hover {
    cursor: pointer;
    text-shadow: black 0.1em 0.1em 0.1em;
}
.btt-close-download:active {
    margin-top:-1.7em;
    position: relative;
}

.download-code {
    line-break: strict;
    background-color: white;
    height:300px;
    overflow-x: scroll;
    overflow-y: scroll;
}