.visual {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    padding-left: 40px;
    position: relative;
    width: 50%;
}

.visual h3 {
    /*display: inline;*/ 
    font-family: Verdana, Verdana, Geneva, Sans-Serif;
}

#visualization-container {
    border-right: 2px solid #FFFFFF;
    float: left;
}

.component-img {
    margin: 10px;
}

#testing-container {
    float: right;
    height: 100%;
}

.ui-tooltip {
    background: black;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.right .ui-tooltip-content::after {
    top: 30px;
    left: -20px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}