.btt-neutral {
    color: white;
    cursor: pointer;
    background: #0086C3; /* Old browsers */
    background: -moz-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #0086C3), color-stop( 100%, #1A8DCA ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #0086C3 0%, #1A8DCA 100% ); /* W3C */
    border: #0086C3 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086C3', endColorstr='#1A8DCA', GradientType=0 ); /* IE6-9 */
}

.btt-neutral:hover:enabled {
    color: white;
    cursor: pointer;
    background: rgba( 0, 134, 195, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 0, 134, 195, 0.9 ) ), color-stop( 100%, rgba( 26, 141, 202, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* W3C */
    border: rgba( 0, 134, 195, 0.9 ) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 0, 134, 195, 0.9 )', endColorstr='rgba( 26, 141, 202, 0.9 )', GradientType=0 ); /* IE6-9 */
}

.btt-neutral:active:enabled {
    background: #1A8DCA; /* Old browsers */
    background: -moz-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #1A8DCA ), color-stop( 100%, #0086C3 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #1A8DCA 0%, #0086C3 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A8DCA', endColorstr='#0086C3', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.btt-neutral[disabled=disabled], .btt-neutral:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.btt-positive {
    color: white;
    cursor: pointer;
    background: #7AB800; /* Old browsers */
    background: -moz-linear-gradient( top, #7AB800 0%, #8DC922 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #7AB800 ), color-stop( 100%, #8DC922) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #7AB800 0%, #8DC922 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #7AB800 0%, #8DC922 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #7AB800 0%, #8DC922 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #7AB800 0%, #8DC922 100% ); /* W3C */
    border: #7AB800 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AB800', endColorstr='#8DC922', GradientType=0 ); /* IE6-9 */
}

.btt-positive:hover:enabled {
    border: rgba( 122, 184, 0, 0.9 ) 1px solid;
    background: rgba( 122, 184, 0, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 122, 184, 0, 0.9 ) 0%, rgba( 141, 201, 34, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 122, 184, 0, 0.9 ) ), color-stop( 100%, rgba( 141, 201, 34, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 122, 184, 0, 0.9 ) 0%, rgba( 141, 201, 34, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 122, 184, 0, 0.9 ) 0%, rgba( 141, 201, 34, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 122, 184, 0, 0.9 ) 0%, rgba( 141, 201, 34, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 122, 184, 0, 0.9 ) 0%, rgba( 141, 201, 34, 0.9 ) 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 122, 184, 0, 0.9 )', endColorstr='rgba( 141, 201, 34, 0.9 )', GradientType=0 ); /* IE6-9 */
    color: white;
    cursor: pointer;
}

.btt-positive:active:enabled {
    background: #8DC922; /* Old browsers */
    background: -moz-linear-gradient( top, #8DC922 0%, #7AB800 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #8DC922), color-stop( 100%, #7AB800 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #8DC922 0%, #7AB800 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #8DC922 0%, #7AB800 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #8DC922 0%, #7AB800 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #8DC922 0%, #7AB800 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8DC922', endColorstr='#7AB800', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.btt-positive[disabled=disabled], .btt-positive:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40;
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.btt-negative {
    color: white;
    cursor: pointer;
    background: #C60606; /* Old browsers */
    background: -moz-linear-gradient( top, #C60606 0%, #CA3430 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #C60606), color-stop( 100%, #CA3430 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #C60606 0%, #CA3430 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #C60606 0%, #CA3430 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #C60606 0%, #CA3430 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #C60606 0%, #CA3430 100% ); /* W3C */
    border: #C60606 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C60606', endColorstr='#CA3430', GradientType=0 ); /* IE6-9 */
}

.btt-negative:hover:enabled {
    color: white;
    cursor: pointer;
    background: rgba( 198,6,6, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 198,6,6, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 198,6,6, 0.9 ) ), color-stop( 100%, rgba( 202, 52,48, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 198,6,6, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 198,6,6, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 198,6,6, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 198,6,6, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* W3C */
    border: rgba( 198,6,6, 0.9 ) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 198,6,6, 0.9 )', endColorstr='rgba( 202, 52,48, 0.9 )', GradientType=0 ); /* IE6-9 */
}

.btt-negative:active:enabled {
    background: #CA3430; /* Old browsers */
    background: -moz-linear-gradient( top, #CA3430 0%, #C60606 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #CA3430 ), color-stop( 100%, #C60606) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #CA3430 0%, #C60606 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #CA3430 0%, #C60606 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #CA3430 0%, #C60606 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #CA3430 0%, #C60606 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CA3430', endColorstr='#C60606', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.btt-negative[disabled=disabled], .btt-negative:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.btt-subdued {
    color: white;
    cursor: pointer;
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient( top, #999999 0%, #A4A4A4 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #999999 ), color-stop( 100%, #A4A4A4 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #999999 0%, #A4A4A4 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #999999 0%, #A4A4A4 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #999999 0%, #A4A4A4 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #999999 0%, #A4A4A4 100% ); /* W3C */
    border: #999999 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#A4A4A4', GradientType=0 ); /* IE6-9 */
}

.btt-subdued:hover:enabled {
    color: white;
    cursor: pointer;
    background: rgba( 153, 153, 153, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 153, 153, 153, 0.9 ) 0%, rgba( 164, 164, 164, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 153, 153, 153, 0.9 ) ), color-stop( 100%, rgba( 164, 164, 164, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 153, 153, 153, 0.9 ) 0%, rgba( 164, 164, 164, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 153, 153, 153, 0.9 ) 0%, rgba( 164, 164, 164, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 153, 153, 153, 0.9 ) 0%, rgba( 164, 164, 164, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 153, 153, 153, 0.9 ) 0%, rgba( 164, 164, 164, 0.9 ) 100% ); /* W3C */
    border: rgba( 153, 153, 153, 0.9 ) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 153, 153, 153, 0.9 )', endColorstr='rgba( 164, 164, 164, 0.9 )', GradientType=0 ); /* IE6-9 */
}

.btt-subdued:active:enabled {
    background: #A4A4A4; /* Old browsers */
    background: -moz-linear-gradient( top, #A4A4A4 0%, #999999 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #A4A4A4 ), color-stop( 100%, #999999 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #A4A4A4 0%, #999999 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #A4A4A4 0%, #999999 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #A4A4A4 0%, #999999 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #A4A4A4 0%, #999999 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4A4A4', endColorstr='#999999', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.btt-subdued[ disabled=disabled ], .btt-subdued:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}