.input-box:focus{
    border-color: #5CD2ED;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.negative-box{
    border-color: #C60606;
    border-width: 2px;
    margin: -1px;
}

.positive-box{
    border-color: #7AB800;
    border-width: 2px;
    margin: -1px;
}

.negative-check,.positive-check{
    color: white;
}

.negative-check{
    background-color: #C60606;
}

.positive-check{
    background-color: #7AB800;
}