.movistar #full-name:focus {
    margin: -1px;
    border-color: #5CD2ED;
    border-width: 2px;
    outline: none !important;
}

.movistar #full-name.negative-box {
    margin: -1px;
    border-color: #C60606;
    border-width: 2px;
}

.movistar #full-name.positive-box {
    margin: -1px;
    border-color: #7AB800;
    border-width: 2px;
}

.movistar #error-message.negative-check, .movistar #error-message.positive-check {
    color: white;
}

.movistar #error-message.negative-check {
    background-color: #C60606;
}

.movistar #error-message.positive-check {
    background-color: #7AB800;
}

.movistar.btt-plus, .movistar.btt-refresh {
    background-color: #0086C3;
    border: #0076B1 1px solid; 
}

.movistar.btt-less {
    background-color: #999999;
    border: #999999 1px solid;
}