.movistar .card-input:focus, .movistar .date-input:focus {
    border-color: #5CD2ED;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.movistar .negative-box {
    margin: -1px;
    border-color: #C60606 !important;
    border-width: 2px;
}

.movistar .positive-box {
    margin:-1px;
    border-color: #7AB800;
    border-width: 2px;
}

.movistar .negative-check {
    background-color: #C60606;
    color: white;
}

.movistar .positive-check {
    background-color: #7AB800;
}

.movistar .neutral-button {
    color: white;
    cursor: pointer;
    background: #0086C3; /* Old browsers */
    background: -moz-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #0086C3), color-stop( 100%, #1A8DCA ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #0086C3 0%, #1A8DCA 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #0086C3 0%, #1A8DCA 100% ); /* W3C */
    border: #0086C3 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086C3', endColorstr='#1A8DCA', GradientType=0 ); /* IE6-9 */
}

.movistar .neutral-button:hover:enabled {
    color: white;
    cursor: pointer;
    background: rgba( 0, 134, 195, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 202, 52,48, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 0, 134, 195, 0.9 ) ), color-stop( 100%, rgba( 26, 141, 202, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 0, 134, 195, 0.9 ) 0%, rgba( 26, 141, 202, 0.9 ) 100% ); /* W3C */
    border: rgba( 0, 134, 195, 0.9 ) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 0, 134, 195, 0.9 )', endColorstr='rgba( 26, 141, 202, 0.9 )', GradientType=0 ); /* IE6-9 */
}

.movistar .neutral-button:active:enabled {
    background: #1A8DCA; /* Old browsers */
    background: -moz-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #1A8DCA ), color-stop( 100%, #0086C3 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #1A8DCA 0%, #0086C3 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #1A8DCA 0%, #0086C3 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A8DCA', endColorstr='#0086C3', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.movistar .neutral-button[disabled=disabled], .movistar .neutral-button:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}