<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../../css/default-table.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/movistar/table.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/visualization.css" rel="stylesheet" type="text/css"/>

        <LINK href="../../css/default-button.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/movistar/button.css" rel="stylesheet" type="text/css"/>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script> 
        <script src="../../js/table.js" type="text/javascript"></script>
        
        <LINK href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>

        <title>Web building blocks</title>
    </head>
    <body>
        <div id="visualization-container" class="visual">
             

            

        </div>
        <div id="table-building-container" class="visual">
            <div id="movistar-table-option-pannel">
            Row:<select id="movistar-row-value">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>

            Column:<select id="movistar-column-value">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>

            Type:<select id="movistar-type-value">
                    <option value="top">Top Header</option>
                    <option value="left">Left Header</option>
                </select>

            Cell Info:<select id="movistar-cell-info-value">
                    <option value="no-info">No placeholder info in table cells</option>
                    <option value="yes-info">Add text info in table cells</option>
                </select>


        </div>
        <div id="movistar-table-container" class="movistar">

        </div>
            <button type="submit" id="movistar-table" class="download-btt">Download pack + guidelines</button>
        </div>
    </body>
</html>