.telefonica #full-name:focus {
    margin: -1px;
    border-color: #00C6D7;
    border-width: 2px;
    outline: none !important;
}

.telefonica #full-name.negative-box {
    margin: -1px;
    border-color: #CA3430;
    border-width: 2px;
}

.telefonica #full-name.positive-box {
    margin: -1px;
    border-color: #00C607;
    border-width: 2px;
}

.telefonica #error-message.negative-check, .telefonica #error-message.positive-check {
    color: white;
}

.telefonica #error-message.negative-check {
    background-color: #CA3430;
}

.telefonica #error-message.positive-check {
    background-color: #00C607;
}

.telefonica.btt-plus, .telefonica.btt-refresh {
    background-color: #007487;
    border: #016171 1px solid; 
}

.telefonica.btt-less {
    background-color: #AEADAD;
    border: #AEADAD 1px solid;
}