.input-box:focus{
    border-color: #00C6D7;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.negative-box{
    border-color: #CA3430;
    border-width: 2px;
    margin: -1px;
}

.positive-box{
    border-color: #00C607;
    border-width: 2px;
    margin: -1px;
}

.negative-check,.positive-check{
    color: white;
}

.negative-check{
    background-color: #CA3430;
}

.positive-check{
    background-color: #00C607;
}