.telefonica .card-input:focus, .telefonica .date-input:focus {
    border-color: #0B4784;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.telefonica .negative-box {
    margin: -1px;
    border-color: #CA3430 !important;
    border-width: 2px;
}

.telefonica .positive-box {
    margin:-1px;
    border-color: #00C607;
    border-width: 2px;
}

.telefonica .negative-check {
    background-color: #CA3430;
    color: white;
}

.telefonica .positive-check {
    background-color: #00C607;
}