<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../../css/default-button.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/o2/button.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/visualization.css" rel="stylesheet" type="text/css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" ></script>
      
        <title>Web building blocks</title>
    </head>
    <body>   
        <div id="visualization-container" class="visual">
            <h3>Buttons</h3>
            <img class="component-img"/>
        </div>
        <div id="testing-container" class="visual">
            <h3>Test</h3>
            <div class="button-back" >
                <button type="submit" class="button btt-neutral" enabled="">Neutral</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-neutral" disabled="">Neutral</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-positive" enabled="">Positive</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-positive" disabled="">Positive</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-negative" enabled="">Negative</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-negative" disabled="">Negative</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-subdued" enabled="">Subdued</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-subdued" disabled="">Subdued</button>
            </div>
        </div>
        <div class="button-back" >
            <button type="submit" class="download-btt btt-neutral">Download pack + guidelines</button>
        </div>         
    </body>
</html>
