<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../css/default-button.css" rel="stylesheet" type="text/css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      
        <title>Web building blocks</title>
    </head>
    <body>   
        <div class="button-back" >
            <button type="submit" class="button btt-neutral" enabled="">Neutral</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-neutral" disabled="">Neutral</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-positive" enabled="">Positive</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-positive" disabled="">Positive</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-negative" enabled="">Negative</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-negative" disabled="">Negative</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-subdued" enabled="">Subdued</button>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-subdued" disabled="">Subdued</button>
        </div>    
    </body>
</html>
