<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../css/default-input.css" rel="stylesheet" type="text/css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="../js/input.js"></script>
      
        <title>Web building blocks</title>
    </head>
    <body>
        <div id="input-container">
            <input id="full-name" type="text"></input>
            <div id="input-hint" class="info-space"> 
            </div> 
            <div id="error-container">
                <a id="error-message"></a>
            </div> 
        </div>
    </body>
</html>