<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../css/default-input.css" rel="stylesheet" type="text/css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="../js/input.js"></script>
      
        <title>Web building blocks</title>
    </head>
    <body>   
        <input id="input-full-name" type="text" class="input-box"></input>
        <div id="error-space-name" class="info-space"> 
        </div> 
        <div id="error-space-name-x" class="check-space"> 
            <div id="check-box-name" class="check-box">
            </div>
        </div> 
    </body>
</html>