.vivo .button {
    font-family: "Officina", sans-serif;
}

.vivo .btt-neutral {
    color: white;
    cursor: pointer;
    background: #216AAF; /* Old browsers */
    background: -moz-linear-gradient( top, #216AAF 0%, #0B4784 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #216AAF), color-stop( 100%, #0B4784 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #216AAF 0%, #0B4784 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #216AAF 0%, #0B4784 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #216AAF 0%, #0B4784 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #216AAF 0%, #0B4784 100% ); /* W3C */
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216AAF', endColorstr='#0B4784', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-neutral:hover:enabled {
    color: white;
    cursor: pointer;
    background: #2567A4; /* Old browsers */
    background: -moz-linear-gradient( top, #2567A4 0%, #11477E 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #2567A4), color-stop( 100%, #11477E ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #2567A4 0%, #11477E 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #2567A4 0%, #11477E 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #2567A4 0%, #11477E 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #2567A4 0%, #11477E 100% ); /* W3C */
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2567A4', endColorstr='#11477E', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-neutral:active:enabled {
    background: #0B4784; /* Old browsers */
    background: -moz-linear-gradient( top, #0B4784 0%, #216AAF 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #0B4784 ), color-stop( 100%, #216AAF) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #0B4784 0%, #216AAF 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #0B4784 0%, #216AAF 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #0B4784 0%, #216AAF 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #0B4784 0%, #216AAF 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0B4784', endColorstr='#216AAF', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.vivo .btt-neutral[disabled=disabled], .vivo .btt-neutral:disabled {
    cursor: inherit;
    filter: alpha( opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40;
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40)";
}

.vivo .btt-positive {
    color: white;
    cursor: pointer;
    background: #8BC53C; /* Old browsers */
    background: -moz-linear-gradient( top, #8BC53C 0%, #62AA00 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #8BC53C), color-stop( 100%, #62AA00 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #8BC53C 0%, #62AA00 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #8BC53C 0%, #62AA00 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #8BC53C 0%, #62AA00 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #8BC53C 0%, #62AA00 100% ); /* W3C */
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BC53C', endColorstr='#62AA00', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-positive:hover:enabled {
    color: white;
    cursor: pointer;
    background: #84B83D; /* Old browsers */
    background: -moz-linear-gradient( top, #84B83D 0%, #5FA007 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #84B83D), color-stop( 100%, #5FA007 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #84B83D 0%, #5FA007 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #84B83D 0%, #5FA007 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #84B83D 0%, #5FA007 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #84B83D 0%, #5FA007 100% ); /* W3C */
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84B83D', endColorstr='#5FA007', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-positive:active:enabled {
    background: #62AA00; /* Old browsers */
    background: -moz-linear-gradient( top, #62AA00 0%, #8BC53C 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #62AA00 ), color-stop( 100%, #8BC53C) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #62AA00 0%, #8BC53C 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #62AA00 0%, #8BC53C 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #62AA00 0%, #8BC53C 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #62AA00 0%, #8BC53C 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62AA00', endColorstr='#8BC53C', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.vivo .btt-positive[disabled=disabled], .vivo .btt-positive:disabled {
    cursor: inherit;
    filter: alpha( opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40;
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40)";
}

.vivo .btt-negative {
    color: white;
    cursor: pointer;
    background: #DA0001; /* Old browsers */
    background: -moz-linear-gradient( top, #DA0001 0%, #A01C21 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #DA0001), color-stop( 100%, #A01C21 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #DA0001 0%, #A01C21 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #DA0001 0%, #A01C21 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #DA0001 0%, #A01C21 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #DA0001 0%, #A01C21 100% ); /* W3C */
    border: #B10301 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DA0001', endColorstr='#A01C21', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-negative:hover:enabled {
    color: white;
    cursor: pointer;
    background: #CB0708; /* Old browsers */
    background: -moz-linear-gradient( top, #CB0708 0%, #972025 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #CB0708), color-stop( 100%, #972025 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #CB0708 0%, #972025 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #CB0708 0%, #972025 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #CB0708 0%, #972025 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #CB0708 0%, #972025 100% ); /* W3C */
    border: #A21C20 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CB0708', endColorstr='#972025', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-negative:active:enabled {
    background: #9E1D22; /* Old browsers */
    background: -moz-linear-gradient( top, #9E1D22 0%, #D90101 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #9E1D22 ), color-stop( 100%, #D90101) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #9E1D22 0%, #D90101 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #9E1D22 0%, #D90101 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #9E1D22 0%, #D90101 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #9E1D22 0%, #D90101 100% ); /* W3C */
    border: #A21C20 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E1D22', endColorstr='#D90101', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.vivo .btt-negative[disabled=disabled], .vivo .btt-negative:disabled {
    cursor: inherit;
    filter: alpha( opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40;
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40)";
}

.vivo .btt-subdued {
    color: white;
    cursor: pointer;
    background: #C5C5C5; /* Old browsers */
    background: -moz-linear-gradient( top, #C5C5C5 0%, #8C8C8C 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #C5C5C5), color-stop( 100%, #8C8C8C ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #C5C5C5 0%, #8C8C8C 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #C5C5C5 0%, #8C8C8C 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #C5C5C5 0%, #8C8C8C 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #C5C5C5 0%, #8C8C8C 100% ); /* W3C */
    border: #8A8A8A 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5C5C5', endColorstr='#8C8C8C', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-subdued:hover:enabled {
    color: white;
    cursor: pointer;
    background: #B9B8B9; /* Old browsers */
    background: -moz-linear-gradient( top, #B9B8B9 0%, #858585 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #B9B8B9), color-stop( 100%, #858585 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #B9B8B9 0%, #858585 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #B9B8B9 0%, #858585 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #B9B8B9 0%, #858585 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #B9B8B9 0%, #858585 100% ); /* W3C */
    border: #8A8A8A 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B9B8B9', endColorstr='#858585', GradientType=0 ); /* IE6-9 */
}

.vivo .btt-subdued:active:enabled {
    background: #8A8A8A; /* Old browsers */
    background: -moz-linear-gradient( top, #8A8A8A 0%, #C6C6C6 100% ); /* FF3.6+ */
    background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #8A8A8A ), color-stop( 100%, #C6C6C6) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #8A8A8A 0%, #C6C6C6 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #8A8A8A 0%, #C6C6C6 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #8A8A8A 0%, #C6C6C6 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #8A8A8A 0%, #C6C6C6 100% ); /* W3C */
    border: #8A8A8A 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8A8A8A', endColorstr='#C6C6C6', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.vivo .btt-subdued[disabled=disabled], .vivo .btt-subdued:disabled {
    cursor: inherit;
    filter: alpha( opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40;
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40)";
}
