.input-box:focus{
    border-color: #0b4784;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.negative-box{
    border-color: #DB0000;
    border-width: 2px;
    margin: -1px;
}

.positive-box{
    border-color: #8DC63F;
    border-width: 2px;
    margin: -1px;
}

.negative-check,.positive-check{
    color: white;
}

.negative-check{
    background-color: #DB0000;
}

.positive-check{
    background-color: #8DC63F;
}