<!DOCTYPE html>

<html>
    <head>   
        <meta charset="utf-8">
        <LINK href="../../css/default-button.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/vivo/button.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/visualization.css" rel="stylesheet" type="text/css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <LINK href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>

        <title>Web building blocks</title>
    </head>
    <body>   
        <div id="visualization-container" class="visual" title="hi">
            <h3>Buttons</h3>
            <img src="../../img/components/vivo/button/neutral-normal.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/neutral-hover.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/neutral-pressed.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/neutral-disable.png" class="component-img" title=""/>

            <img src="../../img/components/vivo/button/positive-normal.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/positive-hover.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/positive-pressed.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/positive-disable.png" class="component-img" title=""/>

            <img src="../../img/components/vivo/button/negative-normal.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/negative-hover.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/negative-pressed.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/negative-disable.png" class="component-img" title=""/>

            <img src="../../img/components/vivo/button/subdued-normal.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/subdued-hover.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/subdued-pressed.png" class="component-img" title=""/>
            <img src="../../img/components/vivo/button/subdued-disable.png" class="component-img" title=""/>
        </div>
        <div id="testing-container" class="visual">
            <h3>Test</h3>
            <div class="button-back" >
                <button type="submit" class="button btt-neutral" enabled="">Neutral</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-neutral" disabled="">Neutral</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-positive" enabled="">Positive</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-positive" disabled="">Positive</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-negative" enabled="">Negative</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-negative" disabled="">Negative</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-subdued" enabled="">Subdued</button>
            </div>
            <div class="button-back" >
                <button type="submit" class="button btt-subdued" disabled="">Subdued</button>
            </div>
        </div>
        <div class="button-back" >
            <button type="submit" class="button btt-neutral">Download pack + guidelines</button>
        </div>    
    </body>
</html>
