<!DOCTYPE html>

<html>
    <head>
        <LINK href="../../css/default-payment-form.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/vivo/payment-form.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/default-input.css" rel="stylesheet" type="text/css"/>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
        
        <script src="../../js/paymentform.js" type="text/javascript"></script>
        <script src="../../js/input.js" type="text/javascript"></script>
	    
        <title>Merchant payment page</title>
    </head>
    <body>

	   <form id="payment-form" method="POST" class="external-box"><!--action="https://core.spreedly.com/v1/payment_methods"-->
        <fieldset class="internal-box">
            <div class="header">
                Header
            </div>
            
            <div class="spaceX">
            </div>
           <!-- <input name="redirect_url" type="hidden" value="http://spreedly.protolab.tefdigital.com/post_register.html" />
            <input name="environment_key" type="hidden" value="NsuxdyBfUANtKphD87e8UFxjKzn" />-->
            <label for="vivo input" class="text-label">Full Name</label>
            <div class="space025X"></div>
            <input id="credit-card-full-name" class="vivo input" name="credit_card[full_name]" type="text"/>
            <div class="vivo input-hint"></div> 
            <div class="vivo error-container"> 
                <a class="vivo error-message"></a>
            </div> 
<!--
            <div class="input-container">
                <div class="quit-icon"></div>
                <input class="' + brand +  ' input" type="text"></input>
                <div class="' + brand + ' input-hint"></div>
                <div class="' + brand +  ' error-container">
                    <a class="' + brand +  ' error-message"></a>
                </div>
            </div>
-->
            <div id="helpCVC" class="help">
                    <p>3-digit number on the back of your card</p>
            </div>

            <label for="credit_card_number" class="text-label CC-label">Credit Card Number</label>
            
            <label for="credit_card_verification_value" class="text-label CVC-label" >CVC Code</label>

            <label id="help-label" for="help" class="help-security-code">?</label>

            <div class="space025X clearing"></div>
            
            <input autocomplete="off" id="credit-card-number" name="credit_card[number]" type="text" class="vivo input" />
            
            <input autocomplete="off" id="credit-card-verification-code" name="credit_card[verification_value]" type="password" class="vivo input" maxlength=3/>
            

            <div class="info-left">
                <div id="error-spaceCC" class="info-space"> 
                
                </div>
                <div id="check-boxCC" class="check-boxCC">

                </div>

            </div>
            <div class="info-right">
                <div id="error-spaceCVC" class="info-space"> 
                
                </div> 
                <div id="check-boxCVC" class="check-boxCVC">

                </div>
            </div>
            

            <label for="credit_card_month" class="text-label">Expiration Date</label>
            <div class="space025X"></div>
            
           
            <input id="credit-card-month-value" name="credit_card[month]" class="date-box" type="text" maxlength=2/>
            /
            <input id="credit-card-year-value" name="credit_card[year]"  class="date-box" type="text" maxlength=2/>

            
            <div id="error-date-empty" class="info-space">
            </div>

            <div id="error-date" class="check-space"> 
                <div id="check-box-date" class="check-box">
                </div>
            </div> 

            <div id= "expiration-space" class="space05X"></div>

            <div class="back-submit">
                <button type='submit' class="submit-button neutral-button" disabled>Submit Payment</button>
            </div>

            <div class="last-space"></div>
            
        </fieldset>
    </form>
    </body>
</html>
