<!DOCTYPE html>

<html>
    <head>
        <LINK href="../../css/default-payment-form.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/vivo/payment-form.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/default-input.css" rel="stylesheet" type="text/css"/>
        <LINK href="../../css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="../../js/jquery-ui-1.10.3.custom.js"></script>
        
        <script src="../../js/paymentform/paymentform.js" type="text/javascript"></script>
        <script src="../../js/paymentform/ccnameinput.js" type="text/javascript"></script>
        <script src="../../js/paymentform/ccnumberinput.js" type="text/javascript"></script>
        <script src="../../js/paymentform/cccvcinput.js" type="text/javascript"></script>
        <script src="../../js/paymentform/ccdateinputs.js" type="text/javascript"></script>
	    
        <title>Merchant payment page</title>
    </head>
    <body>

	   <form id="payment-container" method="POST"><!--action="https://core.spreedly.com/v1/payment_methods"-->
        <fieldset id="payment-content">
            <div class="header">
                Header
            </div>
            
            <div class="spaceX">
            </div>
           <!-- <input name="redirect_url" type="hidden" value="http://spreedly.protolab.tefdigital.com/post_register.html" />
            <input name="environment_key" type="hidden" value="NsuxdyBfUANtKphD87e8UFxjKzn" />-->
            <label for="card-holder-name" class="text-label">Full Name</label>
            <div class="space025X"></div>
            <input id="card-holder-name" class="vivo card-input" name="credit_card[full_name]" type="text"/>
            <div id="card-name-hint-container" class="vivo card-hint"></div> 
            <div id="card-name-error-container" class="vivo card-error"> 
                <a id="card-name-error-msg" class="vivo card-error-message"></a>
            </div> 

            <div id="CVC-hint">
                    <p>3-digit number on the back of your card</p>
            </div>

            <label for="card-number-input" class="text-label CC-label">Credit Card Number</label>
            
            <label for="card-verification-code" class="text-label CVC-label">CVC Code</label>

            <label id="help-label" for="help" class="help-security-code">?</label>

            <div class="space025X clearing"></div>
            <div id="card-number-container">
                <input autocomplete="off" id="card-number-input" name="credit_card[number]" type="text" class="vivo card-input card-number" />
                <div id="card-number-hint-container" class="vivo card-hint card-number"></div>
                <div id="card-number-error-container" class="vivo card-error card-number card-error-message"></div>
            </div>

            <input autocomplete="off" id="card-verification-code" name="credit_card[verification_code]" type="password" class="vivo card-input" maxlength=3/>
            
        <!--
            <div class="input-container">
                <input class="vivo input" type="text"></input>
                <div id="error-spaceCC" class="vivo input-hint"></div>
                <div id="check-boxCC" class="vivo error-container">
                    <a class="vivo error-message"></a>
                </div>
            </div>
        -->
        <!--
            <div class="info-left">
                <div id="error-spaceCC" class="info-space"> 
                
                </div>
                <div id="check-boxCC" class="check-boxCC">

                </div>
        -->
            </div>
            <div class="info-right">
                <div id="error-spaceCVC" class="info-space"> 
                
                </div> 
                <div id="check-boxCVC" class="check-boxCVC">

                </div>
            </div>
            

            <label for="credit_card_month" class="text-label">Expiration Date</label>
            <div class="space025X"></div>
            
            <div id="card-date-container">
                <input id="credit-card-month-value" name="credit_card[month]" class="date-box card-input" type="text" maxlength=2/>
                /
                <input id="credit-card-year-value" name="credit_card[year]"  class="date-box card-input" type="text" maxlength=2/>

                
                <div id="error-date-empty" class="info-space">
                </div>

                <div id="error-date" class="check-space"> 
                    <div id="check-box-date" class="check-box">
                    </div>
                </div> 

                <div id= "expiration-space" class="space05X"></div>
            </div>

            <div class="back-submit">
                <button type="submit" class="submit-button neutral-button" disabled>Submit Payment</button>
            </div>

            <div class="last-space"></div>
            
        </fieldset>
    </form>
    </body>
</html>
