.o2 .button {
    font-family: "Arial", sans-serif;
}

.o2 .btt-neutral {
    color: white;
    cursor: pointer;
    background: #2570A6; /* Old browsers */
    background: -moz-linear-gradient( top, #2570A6 0%, #04538D 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #2570A6), color-stop( 100%, #04538D ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #2570A6 0%, #04538D 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #2570A6 0%, #04538D 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #2570A6 0%, #04538D 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #2570A6 0%, #04538D 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #0A3357 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2570A6', endColorstr='#04538D', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-neutral:hover:enabled {
    color: white;
    cursor: pointer;
    background: #236494; /* Old browsers */
    background: -moz-linear-gradient( top, #236494 0%, #074B7F 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #236494), color-stop( 100%, #074B7F ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #236494 0%, #074B7F 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #236494 0%, #074B7F 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #236494 0%, #074B7F 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #236494 0%, #074B7F 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #0A3357 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#236494', endColorstr='#074B7F', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-neutral:active:enabled {
    background: #04538D; /* Old browsers */
    background: -moz-linear-gradient( top, #04538D 0%, #2570A6 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #04538D ), color-stop( 100%, #2570A6) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #04538D 0%, #2570A6 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #04538D 0%, #2570A6 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #04538D 0%, #2570A6 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #04538D 0%, #2570A6 100% ); /* W3C */
    box-shadow: 0px 1px 2px #0A3357 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04538D', endColorstr='#2570A6', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.o2 .btt-neutral[disabled=disabled], .o2 .btt-neutral:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.o2 .btt-positive {
    color: white;
    cursor: pointer;
    background: #5ED2DB; /* Old browsers */
    background: -moz-linear-gradient( top, #5ED2DB 0%, #03A9B4 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #5CD1DA), color-stop( 100%, #03A9B4 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #5ED2DB 0%, #03A9B4 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #5ED2DB 0%, #03A9B4 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #5ED2DB 0%, #03A9B4 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #5ED2DB 0%, #03A9B4 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #1C8692 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ED2DB', endColorstr='#03A9B4', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-positive:hover:enabled {
    color: white;
    cursor: pointer;
    background: #56BCC4; /* Old browsers */
    background: -moz-linear-gradient( top, #56BCC4 0%, #0498A2 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #56BCC4), color-stop( 100%, #0498A2 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #56BCC4 0%, #0498A2 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #56BCC4 0%, #0498A2 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #56BCC4 0%, #0498A2 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #56BCC4 0%, #0498A2 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #197680 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56BCC4', endColorstr='#0498A2', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-positive:active:enabled {
    background: #03A9B4; /* Old browsers */
    background: -moz-linear-gradient( top, #03A9B4 0%, #5ED2DB 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #03A9B4 ), color-stop( 100%, #5ED2DB) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #03A9B4 0%, #5ED2DB 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #03A9B4 0%, #5ED2DB 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #03A9B4 0%, #5ED2DB 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #03A9B4 0%, #5ED2DB 100% ); /* W3C */
    box-shadow: 0px 1px 2px #007B88 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03A9B4', endColorstr='#5ED2DB', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.o2 .btt-positive[disabled=disabled], .o2 .btt-positive:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.o2 .btt-negative {
    color: white;
    cursor: pointer;
    background: #D23C38; /* Old browsers */
    background: -moz-linear-gradient( top, #D23C38 0%, #9A0101 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #D23C38), color-stop( 100%, #9A0101 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #D23C38 0%, #9A0101 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #D23C38 0%, #9A0101 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #D23C38 0%, #9A0101 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #D23C38 0%, #9A0101 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #6D0D0D inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D23C38', endColorstr='#9A0101', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-negative:hover:enabled {
    color: white;
    cursor: pointer;
    background: #C03632; /* Old browsers */
    background: -moz-linear-gradient( top, #C03632 0%, #8D0101 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #C03632), color-stop( 100%, #8D0101 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #C03632 0%, #8D0101 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #C03632 0%, #8D0101 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #C03632 0%, #8D0101 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #C03632 0%, #8D0101 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #8D1211 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C03632', endColorstr='#8D0101', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-negative:active:enabled {
    background: #9A0101; /* Old browsers */
    background: -moz-linear-gradient( top, #9A0101 0%, #D23C38 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #9A0101 ), color-stop( 100%, #D23C38) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #9A0101 0%, #D23C38 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #9A0101 0%, #D23C38 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #9A0101 0%, #D23C38 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #9A0101 0%, #D23C38 100% ); /* W3C */
    box-shadow: 0px 1px 2px #6D0D0D inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9A0101', endColorstr='#D23C38', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.o2 .btt-negative[disabled=disabled], .o2 .btt-negative:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}

.o2 .btt-subdued {
    color: white;
    cursor: pointer;
    background: #B9BFC7; /* Old browsers */
    background: -moz-linear-gradient( top, #B9BFC7 0%, #767E87 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #B9BFC7), color-stop( 100%, #767E87 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #B9BFC7 0%, #767E87 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #B9BFC7 0%, #767E87 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #B9BFC7 0%, #767E87 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #B9BFC7 0%, #767E87 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #717984 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B9BFC7', endColorstr='#767E87', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-subdued:hover:enabled {
    color: white;
    cursor: pointer;
    background: #ACAEB5; /* Old browsers */
    background: -moz-linear-gradient( top, #ACAEB5 0%, #6A6E76 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #ACAEB5), color-stop( 100%, #6A6E76 ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #ACAEB5 0%, #6A6E76 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #ACAEB5 0%, #6A6E76 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #ACAEB5 0%, #6A6E76 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #ACAEB5 0%, #6A6E76 100% ); /* W3C */
    border: none;
    box-shadow: 0px 1px 2px #747881 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACAEB5', endColorstr='#6A6E76', GradientType=0 ); /* IE6-9 */
}

.o2 .btt-subdued:active:enabled {
    background: #767E87; /* Old browsers */
    background: -moz-linear-gradient( top, #767E87 0%, #B9BFC7 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #767E87 ), color-stop( 100%, #B9BFC7) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #767E87 0%, #B9BFC7 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #767E87 0%, #B9BFC7 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #767E87 0%, #B9BFC7 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #767E87 0%, #B9BFC7 100% ); /* W3C */
    box-shadow: 0px 1px 2px #565D66 inset;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767E87', endColorstr='#B9BFC7', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.o2 .btt-subdued[disabled=disabled], .o2 .btt-subdued:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}