.o2 .card-input:focus, .o2 .date-input:focus {
    border-color: #0086C3;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.o2 .negative-box {
    margin: -1px;
    border-color: #D13B37 !important;
    border-width: 2px;
}

.o2 .positive-box {
    margin:-1px;
    border-color: #00BD6B;
    border-width: 2px;
}

.o2 .negative-check {
    background-color: #D13B37;
    color: white;
}

.o2 .positive-check {
    background-color: #00BD6B;
}