.o2 .card-input:focus, .o2 .date-input:focus {
    border-color: #0086C3;
    border-width: 2px;
    margin: -1px;
    outline: none !important;
}

.o2 .negative-box {
    margin: -1px;
    border-color: #D13B37 !important;
    border-width: 2px;
}

.o2 .positive-box {
    margin:-1px;
    border-color: #00BD6B;
    border-width: 2px;
}

.o2 .negative-check {
    background-color: #D13B37;
    color: white;
}

.o2 .positive-check {
    background-color: #00BD6B;
}

.o2 .neutral-button {
    color: white;
    cursor: pointer;
    background: #2671A6; /* Old browsers */
    background: -moz-linear-gradient( top, #2671A6 0%, #04538D 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #2671A6), color-stop( 100%, #04538D ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #2671A6 0%, #04538D 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #2671A6 0%, #04538D 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #2671A6 0%, #04538D 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #2671A6 0%, #04538D 100% ); /* W3C */
    border: #2671A6 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2671A6', endColorstr='#04538D', GradientType=0 ); /* IE6-9 */
}

.o2 .neutral-button:hover:enabled {
    color: white;
    cursor: pointer;
    background: rgba( 38, 113, 166, 0.9 ); /* Old browsers */
    background: -moz-linear-gradient( top, rgba( 38, 113, 166, 0.9 ) 0%, rgba( 4, 83, 141, 0.9 ) 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, rgba( 38, 113, 166, 0.9 ) ), color-stop( 100%, rgba( 4, 83, 141, 0.9 ) ) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, rgba( 38, 113, 166, 0.9 ) 0%, rgba( 4, 83, 141, 0.9 ) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, rgba( 38, 113, 166, 0.9 ) 0%, rgba( 4, 83, 141, 0.9 ) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, rgba( 38, 113, 166, 0.9 ) 0%, rgba( 4, 83, 141, 0.9 ) 100% ); /* IE10+ */
    background: linear-gradient( to bottom, rgba( 38, 113, 166, 0.9 ) 0%, rgba( 4, 83, 141, 0.9 ) 100% ); /* W3C */
    border: rgba( 38, 113, 166, 0.9 ) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba( 38, 113, 166, 0.9 )', endColorstr='rgba( 4, 83, 141, 0.9 )', GradientType=0 ); /* IE6-9 */
}

.o2 .neutral-button:active:enabled {
    background: #04538D; /* Old browsers */
    background: -moz-linear-gradient( top, #04538D 0%, #2671A6 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop( 0%, #04538D ), color-stop( 100%, #2671A6) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient( top, #04538D 0%, #2671A6 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient( top, #04538D 0%, #2671A6 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient( top, #04538D 0%, #2671A6 100% ); /* IE10+ */
    background: linear-gradient( to bottom, #04538D 0%, #2671A6 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04538D', endColorstr='#2671A6', GradientType=0 ); /* IE6-9 */
    outline: none !important;
}

.o2 .neutral-button[disabled=disabled], .o2 .neutral-button:disabled {
    cursor: inherit;
    filter: alpha( opacity=40 );
    filter: progid:DXImageTransform.Microsoft.Alpha( opacity=0.4 );
    opacity: .40; 
    -khtml-opacity: .40; 
    -moz-opacity: .40; 
    -ms-filter: "alpha( opacity=40 )";
}